.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-inline: 50px;
}

.newsArticles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.newsPost {
  border: 5px solid rgba(0, 0, 0, 0.163);
  margin: 2.5px;
  border-radius: 10px;
  padding-inline: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.newsPost img {
  border-radius: 10px;
  /* padding: 10px; */
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

.newsPost p {
  font-size: 125%;
}

.newsPost h1 {
  font-size: 170%;
}
